{% extends 'base.html' %}

{% block conteudo %}

<section>
    <div class ="texto2pag">
    <h1> Camisas, chaveiros, posters e muito mais! </h1>
    <p> Navegue pelas infinidade dos cosmos do (nome da loja)</p>
    </div>
</section>

<section>
    <div class = "produto">
        <img src ="/static/IMG/foto-produto1.png " width =" 250" height="300" alt ="camisa">
        <p> </p>
        <button></button>

    </div>
</section>
<section>
    <div class = "produto">
        <img src ="/static/IMG/foto-produto1.png " width =" 250" height="300" alt ="camisa">
        <p> </p>
        <button></button>

    </div>
</section>
{% endblock %}
